<!DOCTYPE html>
<html>
<head>
    <title><%= project.name %> - Details</title>
</head>
<body>
    <h1>Project: <%= project.name %></h1>
    <p>Description: <%= project.description || 'No description' %></p>
    <p>Total commits (first page): <%= totalCommits %></p>
    <p>Web URL: <a href="<%= project.web_url %>" target="_blank"><%= project.web_url %></a></p>
    <a href="/">Back to all projects</a>
</body>
</html>
